<html lang="eng">
<body>
Dear {{ full_name }},<br>
<br>
We are sending this email to confirm your appointment with Atlas Chiropractic & Wellness
- {{ clinic_location }}!<br>
<br>
Appointment Details:<br>
<br>
Date: {{ booked_date }}<br>
Time: {{ booked_time }}<br>
Location: <a href="{{ clinic_map_url }}" target="_blank"> {{ clinic_address }}</a><br><br>

Our licensed physicians are prepared to ensure you receive the best treatment possible on the scheduled date and time.<br>
<br>
If you have any questions or need further assistance, please don't hesitate to contact us.<br>
<br>
<p>Regards,<br>Atlas Chiropractic & Wellness<br>support@atlachiroindia.com<br>+91 77606 15859</p>
<br>
</body>
</html>
