<html lang="eng">
<body>
Dear {{ full_name }},<br>
<br>
This is a gentle reminder of your scheduled appointment with {{ clinic_location }} tomorrow.<br>
<br>
Appointment Details:<br>
<br>
Date: {{ booked_date }}<br>
Time: {{ booked_time }}<br>
Location: <a href="{{ clinic_map_url }}"
             target="_blank"> {{ clinic_address }}</a><br>
<br>
Please remember to arrive a little earlier than your scheduled appointment time to ensure a smooth check-in process.
<br>
If, for any reason, you need to reschedule or have questions regarding your
appointment, please don't hesitate to reach out to us.
<br>
Thank you for choosing Atlas Chiropractic & Wellness - {{ clinic_location }}
- {{ clinic_phone_no }} for your healthcare needs. We value your trust and are
here to assist you in any way we can.
<br>
<p>Regards,<br>Atlas Chiropractic & Wellness<br>support@atlachiroindia.com<br>+91 77606 15859</p>
<br>
</body>
</html>