<html lang="eng">
<body>
Dear {{ full_name }},<br>
<br>
Thank you for choosing {{ clinic_location }} for your recent appointment
on {{ booked_date }}. We appreciate for choosing us and hope we have provided
the best possible care.<br>
<br>
Appointment Summary:<br>
<br>
Date: {{ booked_date }}<br>
Time: {{ booked_time }}<br>
Physician: {{ doctor_name }}<br>
<br>
If you have any questions or concerns regarding the appointment or any follow-up care, please don't hesitate to reach out to
us.<br>
<br>
Thank you once again for entrusting us with your healthcare. We look forward to assisting you in the future.<br>
<br>
<p>Regards,<br>Atlas Chiropractic & Wellness<br>support@atlachiroindia.com<br>+91 77606 15859</p>
<br>
</body>
</html>