<!DOCTYPE html>
<html>
<head>
    <title>Payment Link</title>
    <meta name="referrer" content="origin">
</head>
<body>
    <p>Hi {{ first_name }},</p>
    <p>Please complete your payment for Atlas Chiropractic - {{clinic_name}} using this link:</p>
    <p>Payment Link: https://atlaspay.short.gy/{{payment_link_slug}}</p>
    <p>Please note that our clinic has a no-refund policy for canceled or missed appointments unless it is informed and messaged. We value our time, yours, and other patients' time too.</p>
    <p>Regards,<br>Atlas Chiropractic & Wellness<br>support@atlachiroindia.com<br>+91 77606 15859</p>
</body>
</html>
