<!-- confirmation_email.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Payment Confirmed</title>
</head>
<body>
    <p>Hi {{ first_name }},</p>
    <p>We have received payment. Your upcoming appointment with Atlas Chiropractic - {{ clinic_name }} is confirmed. We will send you the appointment details shortly!</p>
    <p>Regards,<br>Atlas Chiropractic & Wellness<br>support@atlachiroindia.com<br>+91 77606 15859</p>
    <p><strong>Note:</strong> The amount paid is non-refundable if the appointment requested is not fulfilled, unless an emergency case is raised.</p>
</body>
</html>